{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DEV-LION's Log</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/gallery-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/_base.css' %}">
  </head>
  <body>
    {% block content %}
    <div class="header">
      <div class="pure-menu pure-menu-horizontal">

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link">DEVLION's LOG</a></li>
          <li class="pure-menu-item"><a href="{% url 'about' %}" class="pure-menu-link">About</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Blog</a></li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
